{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<h1> Predictions </h1>
{% if  predictions %}
	<table class="table table-hover table-bordered">

	<thead>
		<tr>
		  <th>Category</th>
		  <th>Predicted Date </th>
		  <th>Best time for pull notification</th>
		  <th> Button </th>
		</tr>
	</thead>
	<tbody>
		{% for prediction in predictions %}
		<tr>
		<td>
		{{ prediction.category }}
		</td>
		<td>
		{{ prediction.predicted_datetime }}
		</td>
		<td>
			{{prediction.predicted_time }}
		</td>
		<td>
			<a href="/push/{{user_id}}/{{prediction.id}}" class="btn btn-primary"> Push To Device </a>
		</td>
		</tr>
		{% endfor %}


	</tbody>
	</table>
{% else %}

{% endif %}

{% endblock %}